/* Inicio de servicios */

.CONTENEDORSERVICIOS1{    
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    height: fit-content;
    border-radius: 20px;
    border:RGB(156,156,156);
    border-style: solid;
    border-width: 1px;
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif
}

.CONTENEDORSERVICIOS1 h4{text-align: center;
margin: 0%;}   

.CONTENEDORSERVICIOS2{
    display: flex;
    align-content: center;
    text-align: left;
    flex-direction: column;
    background-color: rgb(6,108,155);
    width: 70%;
    margin: 20px;
    border-radius: 20px;
    padding: 1%;
    color: white;
}

.CONTENEDORSERVICIOS3{
    display: flex;
    align-content: center;
    text-align: center;
    background-color: rgb(6,108,155);
    width: 20%;
    margin: 20px;
    border-radius: 20PX;
}



.CONTENEDORSERVICIOS3 img{
    max-width: 90%;
    margin: 5%;
    border-radius: 20PX;
}


/* Fin de servicios */

